<div class="modal fade" id="roomSelectorModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seleccionar Habitaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Seleccionar</th>
                            <th>Código</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (room of rooms; track $index) {
                        <tr>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="selectRoom(room)">Agregar</button>
                            </td>
                            <td>{{ room.codigo }}</td>
                            <td>{{ room.descripcion }}</td>
                            <td>{{ room.precio }}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>